
@model NovoCore.ViewModel.ProviderViewModel
@{
    ViewData["Title"] = "Index";
}




@if (ViewBag.providers.Count == 0)
{
    <p> No Provider.</p>
}
else
{
    <ul>
        @foreach (var provider in ViewBag.providers)
        {
            @provider.Name
            @provider.Lga
            @provider.State
        }
    </ul>
    @ViewBag.BillsCaptured
}





