@model NovoCore.ViewModel.Bills
@{
    ViewData["Title"] = "SavedBills";
}


@section styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
}
<p>Total Bills: @ViewBag.claimscount</p>@ViewBag.claimscount


<div class="row">
    <div class="col-md-12">
    
        <div class="panel-body">
            <table id="claims" class="table table-striped table-bordered table-hover table-responsive" width="100%">
                <thead class="thin-border-bottom" >
                    <tr>
                        <th>Full Name</th>
                        <th>Policy Number</th>
                        <th>Enrollee Company</th>
                        <th>Service Date</th>
                        <th>Diagnosis</th>
                        <th>Treatment Duration</th>
                        <th>Service Charge</th>
                        <th>Drug Charge</th>
                        <th>Total Charge</th>
                        <th>Added On</th>
                        <th>Actions</th>
                    </tr>
                </thead>
               
            </table>
        </div>
    </div>
</div>



<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    (function ($) {
        $("#claims").DataTable({
            ajax: {
                url: "https://localhost:44376/api/Claims1",
                dataSrc: ""
            },
            columns: [{
                data: "enrolleeFullname",
                render: function (data, type, claim) {
                    return "<a href=' " + claim.id + "'>" + claim.enrolleeFullname + "</a>";
                }
            },
                {
                    data: "enrolleePolicyNumber"

                },
                {
                    data: "enrolleeCompanyName"
                },
                {
                    data: "serviceDate"
                },
                {
                    data: "diagnosis"
                },
                {
                    data: "durationoftreatment"
                },
                {
                    data: "initialAmount"
                    
                },
                {
                    data: "initialAmount"
                   
                },
                {
                    data: "",
                    render: function (data) {
                        return "1000";
                    }
                },
                {
                    data: "createdOn"
                },
               
                {
                    data: "id",
                    render: function (data) {
                        return "<button class='btn-link js-update' data-customer-id=" + data + "> Edit</button>";
                    }

                },
            ]
            


        });
        $("#claims").on("click", ".js-update", function () {
            var button = $(this);
            if (confirm("Are you sure you want to update?")) {
                $.ajax({
                    url: "https://localhost:44376/api/Claims1" + button.attr("data-claim-id"),
                    method: "EDIT",
                    success: function () {
                        button.parents("tr").remove();
                    }
                });
            }
        });
        $("#claims").on("click", ".js-delete", function () {
            var button = $(this);
            if (confirm("Are you sure you want to delete?")) {
                $.ajax({
                    url: "https://localhost:44376/api/Claims1" + button.attr("data-claim-id"),
                    method: "DELETE",
                    success: function () {
                        button.parents("tr").remove();
                    }
                });
            }
        });
           
       
        
    })(jQuery);

</script>

